<h1><%= @recipe.name %></h1>
<p><%= @recipe.cuisine %></p>
<p><%= @recipe.food_type %></p>
<p><%= @recipe.preference %></p>
<p><%= @recipe.portions %></p>
<p><%= @recipe.cook_time %></p>
<p><%= @recipe.difficulty %></p>
<p><%= @recipe.ingredients %></p>
<p><%= @recipe.instructions %></p>
